<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shi.lissandra.dal.dao.ProductOrderDao">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.shi.lissandra.dal.domain.ProductOrder">
                    <id column="product_order_id" property="productOrderId"/>
                    <result column="product_ids" property="productIds"/>
                    <result column="order_no" property="orderNo"/>
                    <result column="user_id" property="userId"/>
                    <result column="user_name" property="userName"/>
                    <result column="send_information" property="sendInformation"/>
                    <result column="is_delete" property="isDelete"/>
                    <result column="gmt_create" property="gmtCreate"/>
                    <result column="gmt_modified" property="gmtModified"/>
        </resultMap>
        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
       product_order_id,product_ids,order_no,user_id,user_name,send_information,is_delete,gmt_create,gmt_modified
        </sql>
</mapper>